{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<script >
  function right()
  {
    document.getElementById("display").innerHTML = "✔"
  }
</script>

<div
  style="background: white; padding: 20px; border-radius: 10px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); text-align: center; width: 400px;">
  <h1 style="text-align: center;">Register</h1>

<form action="/register" method="post" enctype="multipart/form-data" >

<div class="form-group">
   
  
<br>
<br>
<input type="text" placeholder="Username" name="username"
  style="width: 100%; padding: 10px; margin: 10px 0; border: 1px solid #ccc; border-radius: 5px;">



  {% if (messager == 1 ) %}
  <center>
   
            <header class="inv" style="color:red">

                 Enter username.

            </header>
            <br>
</center>
{% endif %}
<input type="password" placeholder="Password" name="password"
style="width: 100%; padding: 10px; margin: 10px 0; border: 1px solid #ccc; border-radius: 5px;">


      {% if (messager == 2 ) %}

  <center>
            <header  style="color:red">

                Enter password.

            </header>
            <br>
            </center>
 {% endif %}

  
 <input type="password" placeholder="Confirm password" name="confirmation"
 style="width: 100%; padding: 10px; margin: 10px 0; border: 1px solid #ccc; border-radius: 5px;">

    {% if (messager == 4 ) %}
  <center>
            <header  style="color:red">

                  Enter confirm password.

            </header>
            </center>
 {% endif %}
<br>
  <button style="background-color: #152315; color: white;margin-bottom: 5px; padding: 10px; border: none; border-radius: 5px; cursor: pointer; width: 100%;" type="submit">Register</button>

  {% if (messager == 3 ) %}
  <center>
    <br>
            <header  style="color:red">

                   Enter same password and confirm password.

            </header>
              </center>

            </div>

 {% endif %}
 {% if (messager == 5 ) %}
  <center>
    <br>
            <header  style="color:red">

                  Username Already Taken.

            </header>
            </center>
 {% endif %}
</form>

</div>
 
{% endblock %}
</body>
</html